---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-143">
    <div class="cs-container">
        <h1 class="cs-title">Construction & Maintenance Experts in New York City</h1>
        <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. At quis donec eget tellus turpis imperdiet aenean libero. 
        </p>
        <a href="" class="cs-button-solid">Request Appointment</a>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/kitchen-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/kitchen.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/kitchen.jpg" alt="kitchen" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="h-services-143">
    <ul class="cs-card-group">
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/toolbox.svg" alt="icon" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Full Kitchen Remodel</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/buildings.svg" alt="icon" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Exterior Repairs</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/gear.svg" alt="icon" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Utility Maintenance</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li class="cs-item">
            <picture class="cs-icon">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/user.svg" alt="icon" width="52" height="52" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Design Consultation</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
    </ul>
</section>
                                

    {% include 'components/cta.html' %}
{% endblock %}